<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>ServletContextApp</display-name>
	<context-param>
		<param-name>jdbcURL</param-name>
		<param-value>jdbc:mysql://localhost:3306/practice</param-value>
	</context-param>
	<context-param>
		<param-name>userName</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>password</param-name>
		<param-value>root</param-value>
	</context-param>
	<servlet>
		<servlet-name>ServletContextApp</servlet-name>
		<servlet-class>day8.ServletContextApp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletContextApp</servlet-name>
		<url-pattern>/servletcontext</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServletConfigAppUsingXml</servlet-name>
		<servlet-class>day8.ServletConfigAppUsingXml</servlet-class>
		<init-param>
			<param-name>jdbcurl</param-name>
			<param-value>jdbc:mysql://localhost:3306/enterprisejavabatch</param-value>
		</init-param>
		<init-param>
			<param-name>user</param-name>
			<param-value>root</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>root123</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletConfigAppUsingXml</servlet-name>
		<url-pattern>/servletconfigapp</url-pattern>
	</servlet-mapping>
</web-app>